/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bege: #FFF1CA;
    --verde: #708A58;
    --verde-escuro: #2D4F2B;
    --dourado: #FFB823;
    --texto: #203A1F;
}
body{
    background-color: var(--bege);
    color: var(--texto);
    font-family: Arial, sans-serif;
   
}
header{
    background: linear-gradient(
        90deg, 
        var(--verde),
        var(--verde-escuro)
        );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
}
/* NAVBAR */
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.navbar a:hover{
    color: var(--dourado);
}
/* INTRO */
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin: 40px;
    background: #F8E8C4;
    border-radius: 30px;
    gap: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
/* TEXTO INTRO */
.intro-txt{
    width: 50%;
}

.intro-txt h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--verde-escuro);
}

.intro-txt p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/* BOTÃO LOGIN */
.btn-admin{
    background-color: var(--dourado);
    color: var(--verde-escuro);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display:inline-block;
    text-decoration: none;
}

.btn-admin:hover{
    transform: scale(1.05);
    background-color: #e6a600;
}
/* BOTÃO EXPLORAR */
.btn-explore{
    background: linear-gradient(
    90deg,
    var(--verde),
    var(--verde-escuro)
    );

    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-explore:hover{
    transform: scale(1.05);
    background: var(--dourado);
    color: var(--verde-escuro);
}
.cursos{
    padding: 40px;
}
/* GRID CARDS */
.cards-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
/* CARDS */
.card{
    background: #F8E8C4;
    width: 280px;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* IMAGEM CARD */
.card img{
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;

}
/* TÍTULO  CARD*/
.card h3{
    text-align: center;
    margin-bottom: 15px;
}
/* TEXTO CARD */

.card p{
    margin-bottom: 20px;
    line-height: 1.5;
}
/* BOTÃO CARD */
.card button{
    background:linear-gradient(
        90deg, 
        var(--verde),
        var(--verde-escuro)
        );
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 12px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s;
}
.card button:hover{
    background-color: var(--dourado);
    color: var(--verde-escuro);
}
/* SOBRE */
.sobre{
    padding: 60px;
    text-align: center;
}

.sobre h2{
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--verde-escuro);
}

.sobre p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}
.footer{
     background: linear-gradient(
    90deg,
    var(--verde),
    var(--verde-escuro)
    );
     color: white;
     text-align: center;
     padding: 20px;
     margin-top: 40px;
     border-radius: 20px 20px 0 0;
}
@media(max-width: 768px){

    header{

        flex-direction: column;

        gap: 20px;
    }

    .intro{

        flex-direction: column;

        text-align: center;
    }

    .intro-txt{

        width: 100%;
    }

    .cards-cursos{

        flex-direction: column;

        align-items: center;
    }
}
.intro-img{
    width: 50%;
    display:flex;
    justify-content: center;
}
.img-intro{
  width: 100%;

    max-width: 500px;

    height: 500px;

    object-fit: cover;

    border-radius: 20px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}
.contato{

    padding: 60px;

    text-align: center;
}

.contato h2{

    font-size: 2rem;

    margin-bottom: 20px;

    color: var(--verde-escuro);
}

.contato p{

    margin-bottom: 20px;
}

.contato ul{

    list-style: none;

    line-height: 2;
}
/* ANIMAÇÃO DE ENTRADA */
.fade-in{

    animation: aparecer 0.8s ease;
}

/* ANIMAÇÃO */
@keyframes aparecer{

    from{

        opacity: 0;

        transform: translateY(20px);
    }

    to{

        opacity: 1;

        transform: translateY(0);

        transform: scale(0.98);
    }
}

/* SAÍDA DA PÁGINA */
.fade-out{

    opacity: 0;

    transform: translateY(-20px);

    transition: 0.5s ease;
}