/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --bege-fundo: #F6F0DE;
    --bege-escuro: #EFE4BE;
    --verde: #2F6B2D;
    --verde-botao: #3E6E25;
    --verde-escuro: #1D4D1C;
    --texto-escuro: #203320;
    --dourado: #D6A624;
    --branco-cards: #FFFFFF;
    --borda-cards: #E6DEC7;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: var(--bege-fundo);
    color: var(--texto-escuro);
}
header{
    background: linear-gradient(
        90deg, 
        var(--verde-escuro),
        var(--verde)
        );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    position:sticky;
    top:0;
    z-index:1000;
}
.logo h1{
    color:white;
    font-size:2rem;
}
.navbar a{
    font-size: 1.1rem;
}
.btn-admin{
    padding: 15px 30px;
    font-size: 1.1rem;
}
/* NAVBAR */
.navbar{
    position: relative;
}
.navbar ul{
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.navbar li{
    position: relative;
}
.navbar a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 0;
    transition: color .3s ease;
}
.navbar a:hover{
    color: var(--dourado);
}
.navbar a.ativo{
    color: var(--dourado);
}
/* Linha deslizante */
.indicator{
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--dourado);
    border-radius: 999px;
    transition:
        left .3s ease,
        width .3s ease;
}
/* INTRO */
.intro{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: var(--bege-escuro);
    min-height: 500px;
    padding:80px 100px;
    border-radius:60px;
    box-shadow:none;
}
/* TEXTO INTRO */
.intro-txt{
    width: 50%;
}
.intro-txt h2{
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 25px;
    color: var(--verde-escuro);
}
.intro-txt h2::after{
    content:"";
    display:block;
    width:120px;
    height:4px;
    background:var(--dourado);
    margin-top:15px;
}
.intro-txt p{
    font-size: 1.4rem;
    max-width: 600px;
}
/* BOTÃO LOGIN */
.btn-admin{
    background-color: var(--dourado);
    color: var(--verde-escuro);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display:inline-block;
    text-decoration: none;
}
.btn-admin:hover,
.btn-login:hover{
    transform: scale(1.05);
    background-color: #E0B032;
}
.btn-login{
      background-color: var(--dourado);
    color: var(--verde-escuro);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display:inline-block;
    text-decoration: none;
}
.btn-login:hover{
    transform: scale(1.05);
    background-color: #e6a600;
}
/* BOTÃO EXPLORAR */
.btn-explore{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    background: linear-gradient(
        90deg,
        var(--verde),
        var(--verde-escuro)
    );
    color: white;
    border: none;
    padding: 16px 28px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.btn-explore:hover{
    transform: scale(1.05);
    background: var(--dourado);
    color: var(--verde-escuro);
}
.cursos{
    background: var(--branco-cards);
    margin-top: -60px;
    position:relative;
    z-index:2;
    padding: 40px;
}
/* GRID CARDS */
.cards-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
/* cursos */
.cursos h2{
    text-align:center;
    font-size:3rem;
    margin-bottom:50px;
    color:var(--verde-escuro);
}
.cursos h2::after{
    content:"";
    display:block;
    width:60px;
    height:3px;
    background:var(--dourado);
    margin:15px auto 0;
}
/* CARDS */
.cards-cursos{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    align-items: stretch;
    transition: 0.3s;
}
.card{
    display: flex;
    flex-direction: column;
    width: 220px;
    min-height: 350px;
    padding: 30px;
    background: var(--branco-cards);
    border: 1px solid var(--borda-cards);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    transition: .3s;
}
.card p{
    flex-grow: 1;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* IMAGEM CARD */
.icon-circle{
    width: 90px;
    height: 90px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        var(--verde),
        var(--verde-escuro)
    );
    border-radius: 50%;
}
.beneficios i{
    color: var(--dourado);
    font-size: 2rem;
    margin-bottom: 15px;
}
.icon-circle i{
    justify-content: center;
    align-items: center;
    color:#e6a600;
    font-size: 2.5rem;
    line-height: 1;
}
/* TÍTULO  CARD*/
.card h3{
    height: 70px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}
/* TEXTO CARD */
.card p{
    margin-bottom: 20px;
    line-height: 1.5;
}
/* BOTÃO CARD */
.card button{
    width:100%;
    margin-top:auto;
    background:linear-gradient(
        90deg,
        var(--verde-botao),
        var(--verde-escuro)
    );
    color:white;
    border:none;
    padding:12px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
    transition:.3s;
}
.beneficios{
    background: linear-gradient(
        90deg,
        var(--verde-botao),
        var(--verde-escuro)
    );
}
/* SOBRE */
.sobre{
    padding: 60px;
    text-align: center;
}
.sobre h2{
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--verde-escuro);
}
.sobre p{
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}
.footer{
    background: linear-gradient(
        90deg,
        #1D4D1C,
        #245A22
    );
     color: white;
     text-align: center;
     padding: 20px;
     margin-top: 40px;
     border-radius: 20px 20px 0 0;
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        gap: 20px;
    }
    .card{
    width:100%;
    max-width:350px;
}
    .intro{
        flex-direction: column;
        text-align: center;
    }
    .intro-txt{
        width: 100%;
    }
    .cards-cursos{
        flex-direction: column;
        align-items: center;
    }
    .intro-img{
    width:100%;
}
.intro-txt h2{
    font-size:2.5rem;
}
.intro-txt p{
    font-size:1.1rem;
}
}
.intro-img{
    width: 50%;
    display:flex;
    justify-content: center;
}
.img-intro{
    width:100%;
    max-width:650px;
    height:400px;
    object-fit:cover;
    border-radius:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
.contato{
    padding: 60px;
    text-align: center;
}
.contato h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--verde-escuro);
}
.contato p{
    margin-bottom: 20px;
}

.contato ul{
    list-style: none;
    line-height: 2;
}
/* Benefícios */
.beneficios{
    background:linear-gradient(
        90deg,
        var(--verde),
        var(--verde-escuro)
    );
    color:white;
    display:flex;
    justify-content:space-around;
    padding:40px;
    margin:50px;
    border-radius:20px;
}
.beneficios div{
    border-right:1px solid rgba(255,255,255,.3);
    padding-right:30px;
}.beneficios div:last-child{
    border-right:none;
}
/* Benefícios - Responsividade */
@media(max-width:768px){
    .beneficios{
        flex-direction:column;
        gap:30px;
        text-align:center;
    }
}
/* ANIMAÇÃO DE ENTRADA */
.fade-in{
    animation: aparecer 0.8s ease;
}
/* ANIMAÇÃO */
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
        transform: scale(0.98);
    }
}
/* SAÍDA DA PÁGINA */
.fade-out{
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s ease;
}
/*github-link*/
.github-link{
    color: white;
    text-decoration: underline;
}
/*github-logo*/
#github-logo{
    width: 23px;
    margin-right: 10px;
    color: white;
}