 /* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bege: #FFF1CA;

    --verde: #708A58;

    --verde-escuro: #2D4F2B;

    --dourado: #FFB823;

    --texto: #203A1F;

}

/* BODY */
body{
    background-image: url('https://i.postimg.cc/DZbR0rjg/f72bd1dbb5c94cf38ccbc0ba675aff92.png');
    background-size: cover;

    font-family: montserrat, sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    
    color:  #FFB823;
}

/* TÍTULO */
h1{

    text-align: center;

    color: #FFB823;
    text-shadow: 1px 1px 2px #203A1F;

    margin-bottom: 20px;
}

/* LABELS */
label{

    text-shadow: 1px 1px 2px #203A1F;

    display: block;

    margin: 10px 0 5px;

    font-weight: bold;
}

/* INPUTS */

#usuario,
#senha{

    width: 100%;

    padding: 10px;

    padding-right: 40px;

    border-radius: 5px;

    border: none;

    outline: none;

    
}

#usuario:focus,
#senha:focus{
    outline: none;
    box-shadow: 0 0 5px #2D4F2B;    

}


/* BOTÃO */
button{

    background-color: #D28F01;

    width: 100%;

    padding: 10px;

    margin-top: 15px;

    border-radius: 10px;

    border: none;

    color: white;

    font-size: 1.1em;

    font-weight: bold;

    cursor: pointer;

    transition: transform 0.3s;
}
button:hover{
    transform: scale(1.05);
}

/* MENSAGEM */
#mensagem{

    margin-top: 15px;

    font-size: 15px;

    font-weight: bold;

    text-align: center;
}
.container{

    display: flex;

    justify-content: center;

    flex-direction: column;

    margin-top: 150px;


    backdrop-filter: blur(2.5px);

    padding: 20px;

    border-radius: 10px;

    box-shadow: 8px 8px 8px 8px
    rgba(255, 237, 237, 0);

}
/* BOTÃO OLHO */
.btn-senha{

    position: absolute;

    top: 30%;

    right: 12px;

   

    background: transparent;

    border: none;

    padding: 0;

    margin: 0;

    width: auto;

    color: #2D4F2B;

    cursor: pointer;

    font-size: 18px;
}

.senhabox{
    position:relative;
    width:100%;
}